<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card text-left">
                <div class="card-header">
                    <h4>{{userData.firstName}}'s Details</h4>
                </div>
                <br>
                <div class="card-body">
                    <div class="card-text">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="../../../../assets/img/userlogo.png">
                            </div>
                            <div class="col-md-6 userData">
                                <div>
                                    <b>Name: </b> {{userData.firstName}} {{userData.lastName}}
                                </div>
                                <div>
                                    <b>Role: </b> {{userData.role}}
                                </div>
                                <div>
                                    <b>Email: </b> {{userData.email}}
                                </div>
                                <div>
                                    <b>Phone no.</b> {{userData.contact}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary" [routerLink]="['user']">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>