<div class="top-slider">
    <div class="wlc-swiper-slide--home wlc-swiper-slide--home__1"
        style="background-image: url('assets/static/images/Banner_catalog.png')">
        <div class="wlc-swiper-slide--container">
            <div class="row">
                <div class="col wlc-swiper-slide--text">
                    <div class="wlc-swiper-slide--text">
                        <div class="text__sunflower">Play Today at Mad Money!</div>
                        <div class="text__main">Welcome to Mad Money!</div>
                        <div class="text__additional">3 bonus offers + 250 free spins on your first 3 deposits!
                        </div>
                    </div>
                    <div class="wlc-swiper-slide--button">
                        <button class="wlc-btn wlc-btn_signup">Sign Up Today</button>
                    </div>
                </div>
                <!-- <div class="wlc-swiper-slide--img">
                      <img src="/static/images/image_banner_catalog.png" alt="">
                  </div> -->
            </div>
        </div>
    </div>
</div>