/* ng prime multi select and select box start  */

/* .ui-multiselect.ui-widget.ui-state-default.ui-corner-all {
  border: none;
  border-bottom: 1px solid #dee2e6;
  border-radius: 0px;
} */
body .ui-widget {
  font-family: unset !important;
}

p-multiselect .p-multiselect {
  width: 100%;
  border: 1px solid #cccccc;
  /* border-radius: 2px !important; */
  border-radius: 0.25rem;
  display: -webkit-box;
  height: calc(2.25rem + 2px);
}

body p-autocomplete .ui-inputtext:enabled:focus {
  box-shadow: unset;
  border-color: #007ad9 !important;
}

p-autocomplete .ui-inputtext:enabled:focus:not(.ui-state-error) {
  box-shadow: unset;
  border-color: #e2e7f1;
}

p-autocomplete .ui-inputtext:enabled:hover:not(.ui-state-error) {
  border-color: #e2e7f1;
}


p-multiselect .p-multiselect.ui-multiselect:not(.ui-state-disabled):hover {
  border-color: #cccccc;
}

p-multiselect .ui-multiselect .ui-multiselect-label {
  color: #6d758e;
}

p-multiselect .ui-multiselect-panel .ui-multiselect-header .ui-chkbox {
  top: 100%;
  position: absolute;
  margin-top: 7px;
  min-width: 200px;
  display: inline-flex;
}

p-multiselect .ui-multiselect-panel .ui-widget-header:not(.ui-multiselect-header-no-toggleall)+.ui-multiselect-items-wrapper {
  margin-top: 35px;
}

p-multiselect .ui-multiselect-panel .ui-multiselect-header .ui-chkbox:after {
  content: 'Select All';
  margin-left: 5px;
}



p-dropdown .p-select {
  /* used !important because width given in style by author */
  width: 100% !important;
  border: 1px solid #cccccc;
  /* border-radius: 2px !important; */
  border-radius: 0.25rem;
  height: calc(2.25rem + 2px);
  /* display: -webkit-box !important; */
}

p-dropdown .ui-dropdown:not(.ui-state-disabled):hover {
  border-color: #cccccc;
}

p-dropdown .ui-dropdown .ui-dropdown-label {
  color: #6d758e;
}

p-multiselect .ui-multiselect .ui-multiselect-trigger {
  background-color: unset;
}

p-multiselect .ui-multiselect .ui-multiselect-trigger .ui-multiselect-trigger-icon:before {
  content: "\e906";
}

p-dropdown .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon:before {
  content: "\e906";
}

/* body .ui-inputtext {
  padding: 0.329em !important;
} */

/* ng prime multi select and select box end  */



p-multiselect .ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item label {
  padding-top: 5px;
}



// prime ng calender

p-calendar .p-calendar.ui-calendar {
  width: 100%;
  display: block;

  input {
    width: calc(100% - 2.357em)
  }

  .ui-datepicker-calendar-container {
    font-size: 22px;

    table td {
      padding: 0.1em;

      >span {
        padding: 0.3em;
      }
    }
  }
}


// input tag chips

// p-chips .ui-chips>ul.ui-inputtext {
//   display: block;
// }

// p-chips .ui-inputtext {
//   border: 1px solid #cccccc;
// }

// p-chips .ui-chips>ul.ui-inputtext:not(.ui-state-disabled):hover {
//   border: 1px solid #cccccc;
// }


/* ng prime auto complete start */

p-autocomplete.single .p-autocomplete {
  display: block;
}

p-autocomplete.single .p-autocomplete .p-autocomplete-input {
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  width: 100%;
  border: 1px solid #e2e7f1;
  border-radius: 0.25rem;
  color: #495057;
}


p-autocomplete.multiple .p-autocomplete-multiple {
  display: inline;

  ul.ui-autocomplete-multiple-container {
    // this used if [multiple]= true
    // width: calc(100% - 2.357em);
    width: 100%;
  }

  .ui-autocomplete-token-icon {
    font-size: 0.8rem;
  }

  input.ui-inputtext {
    // this used if [multiple]= false
    width: calc(100% - 2.357em);
  }

  button.ui-autocomplete-dropdown {
    width: 2.357em;
  }

  & .ui-inputtext {
    border: 1px solid #cccccc;
  }
}

p-autocomplete.multiple .p-autocomplete {
  display: grid;

  & .ui-inputtext {
    border: 1px solid #cccccc;
  }
}

p-autocomplete .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container:not(.ui-state-disabled):hover {
  border-color: #cccccc;
}

// p-autocomplete.multiple .ui-autocomplete .ui-autocomplete-input {
//   height: calc(2.25rem + 2px);
//   padding: 0.375rem 0.75rem;
//   width: 100%;
//   border: 1px solid #cccccc;
//   border-radius: 0.25rem;
//   color: #495057;
// }

/* ng prime auto complete end */



// file upload button color
p-fileUpload .ui-button {
  background-color: #448aff;
  border: 1px solid #448aff;
  padding: 5px 14px;
  font-size: 11px;
}


// ng chips design
// p-chips.p-chips .ui-chips>ul.ui-inputtext {
//   // padding: unset;
//   min-height: calc(1.5em + 0.75rem + 2px);

//   .ui-chips-input-token {

//     // padding: unset;
//     .form-control {
//       height: unset;
//     }
//   }
// }


body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container:not(.ui-state-disabled).ui-state-focus {
  box-shadow: 0 0 0 0.1em #5369f8;
}

input.p-inputtext {
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  width: 100%;
  border: 1px solid #e2e7f1;
  border-radius: 0.25rem;
  color: #495057;
}

// p-chpis css
.p-chips {
  width: 100%;

  .p-chips-multiple-container {
    width: 100%;


    .p-chips-input-token {
      padding: 0px;
    }

    .p-chips-token {
      margin: 5px 10px;
      padding: 0rem 0.75rem;
    }
  }
}

// data view css

app-data-view .p-grid.grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}