
<div class="container">
    <mat-toolbar color="primary" class="justify-content-between">
        <span>{{ editMode ? "Edit" : 'Add New' }} User</span>
        <span class="example-spacer"></span>
    </mat-toolbar>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="card-text">
            <form [formGroup]="addUserForm">
              <div class="row g-3">

                <!-- fristname -->
                <div class="col-md-6">
                  <label class="form-label">First Name<small class="p-error">*</small></label>
                  <input type="text" class="form-control" formControlName="firstName">
                  <div *ngIf="addUserFormControls['firstName'].touched && !addUserFormControls['firstName'].valid"
                    class="text-danger">
                    <div *ngIf="addUserFormControls['firstName'].errors?.['required']">
                      Fristname is requried.
                    </div>
                  </div>
                </div>

                <!-- lastname -->
                <div class="col-md-6">
                  <label class="form-label">Last Name</label><small class="p-error">*</small>
                  <input type="text" class="form-control" formControlName="lastName">
                  <div *ngIf="addUserFormControls['lastName'].touched && !addUserFormControls['lastName'].valid"
                    class="text-danger">
                    <div *ngIf="addUserFormControls['lastName'].errors?.['required']">
                      Lastname is requried.
                    </div>
                  </div>
                </div>

                <!-- phone number -->
                <div class="col-md-6">
                  <label class="form-label">Phone No.</label><small class="p-error">*</small>
                  <input type="text" class="form-control" formControlName="contact">
                  <div *ngIf="addUserFormControls['contact'].touched && !addUserFormControls['contact'].valid"
                    class="text-danger">
                    <div *ngIf="addUserFormControls['contact'].errors?.['required']">
                      Phone no. is requried.
                    </div>
                    <div *ngIf="addUserFormControls['contact'].touched && addUserFormControls['contact'].errors?.['pattern']">
                      The mobile number should start with 6-9 digit and maximum 10 digit.
                    </div>
                  </div>
                </div>

                <!-- email -->
                <div class="col-md-6">
                  <label class="form-label">Email</label><small class="p-error">*</small>
                  <input type="email" class="form-control" formControlName="email">
                  <div *ngIf="addUserFormControls['email'].touched && !addUserFormControls['email'].valid"
                    class="text-danger">
                    <div *ngIf="addUserFormControls['email'].errors?.['required']">
                      Email is requried.
                    </div>
                    <div *ngIf="addUserFormControls['email'].errors?.['email']">
                      Email is invalid.
                    </div>
                  </div>
                </div>

                <!-- password -->
                <div class="col-md-6" *ngIf="!editMode">
                  <label class="form-label">Password</label><small class="p-error">*</small>
                  <input type="password" class="form-control" formControlName="password">
                  <div *ngIf="addUserFormControls['password'].touched && !addUserFormControls['password'].valid"
                    class="text-danger">
                    <div *ngIf="addUserFormControls['password'].errors?.['required']">
                      Password is requried
                    </div>
                    <div *ngIf="addUserFormControls['password'].errors?.['minlength']">
                      Password must contain at least 6 character.
                    </div>
                  </div>
                </div>

                <!-- confirm password -->
                <div class="col-md-6" *ngIf="!editMode">
                  <label class="form-label">Confirm Password</label><small class="p-error">*</small>
                  <input type="password" class="form-control" formControlName="confirmPassword">
                  <div *ngIf="addUserFormControls['confirmPassword'].touched && !addUserFormControls['confirmPassword'].valid"
                    class="text-danger">
                    <div *ngIf="addUserFormControls['confirmPassword'].errors?.['required']">
                      Password is requried
                    </div>
                    <div *ngIf="addUserFormControls['confirmPassword'].errors?.['confirmedValidator']">
                      Password and confirm password must be match
                    </div>
                  </div>
                </div>

                <!-- role -->
                <div class="col-md-6">
                  <label class="form-label">Role</label><small class="p-error">*</small>
                  <select class="form-select" formControlName="role">
                    <option value="" selected disabled>Select Role</option>
                    <option value="Admin">Admin</option>
                    <option value="user">User</option>
                  </select>
                  <div *ngIf="addUserFormControls['role'].touched && !addUserFormControls['role'].valid" class="text-danger">
                    <div *ngIf="addUserFormControls['role'].errors?.['required']">
                      Role is requried.
                    </div>
                  </div>
                </div>


                <!-- submit and reset button -->
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary float-right" [disabled]="addUserForm.invalid"
                      (click)="onAddUserSubmit()">{{ editMode ? "Update" : 'Submit' }}</button>
                    <button type="button" class="btn btn-light float-right m-r-10" [routerLink]="['/user']">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
