<div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    <div class="d-flex justify-content-center py-4">
                    </div><!-- End Logo -->

                    <div class="card mb-3">

                        <div class="card-body">

                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                <p class="text-center small">Enter your personal details to create account</p>
                            </div>

                            <form class="row g-3 needs-validation" name="registrationForm"
                                [formGroup]="registrationForm" (ngSubmit)="submitRegistrationData()" novalidate>
                                <div class="col-6">
                                    <label for="firstName" class="form-label">First Name</label>
                                    <input type="text" formControlName="firstName" placeholder="First Name" name="name"
                                        class="form-control" id="firstName"
                                        [ngClass]="{ 'is-invalid':registrationFormSubmitted && form['firstName']?.errors }">
                                    <div class="invalid-feedback" *ngIf="registrationFormSubmitted">
                                        <div *ngIf="registrationForm?.get('firstName')?.hasError('required')">
                                            Please enter First Name!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label for="lastName" class="form-label">Last Name</label>
                                    <input type="text" formControlName="lastName" placeholder="Last Name" name="name"
                                        class="form-control" id="lastName"
                                        [ngClass]="{ 'is-invalid':registrationFormSubmitted && form['lastName']?.errors }">
                                    <div class="invalid-feedback" *ngIf="registrationFormSubmitted">
                                        <div *ngIf="registrationForm?.get('lastName')?.hasError('required')">
                                            Please enter Last Name!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label for="emailId" class="form-label">Email</label>
                                    <input type="email" formControlName="email" placeholder="Email" name="emailId"
                                        class="form-control" id="emailId"
                                        [ngClass]="{ 'is-invalid':registrationFormSubmitted && form['email']?.errors }">
                                    <div class="invalid-feedback" *ngIf="registrationFormSubmitted">
                                        <div *ngIf="registrationForm?.get('email')?.hasError('required')">
                                            Please enter a Email!
                                        </div>
                                        <div
                                            *ngIf="!registrationForm.get('email')?.hasError('required') && registrationForm.get('email')?.hasError('pattern')">
                                            Please enter a valid Email!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label for="phoneNo" class="form-label">Phone Number</label>
                                    <input type="text" maxlength="11" formControlName="contact" placeholder="Phone Number"
                                        name="phoneNo" class="form-control" id="phoneNo"
                                        [ngClass]="{ 'is-invalid':registrationFormSubmitted && form['contact']?.errors }">
                                    <div class="invalid-feedback" *ngIf="registrationFormSubmitted">
                                        <div *ngIf="registrationForm?.get('contact')?.hasError('required')">
                                            Please enter a Phone Number!
                                        </div>
                                        <div
                                            *ngIf="!registrationForm.get('contact')?.hasError('required') && registrationForm.get('contact')?.hasError('minlength')">
                                            Phone Number must be minimum 10 digit long!
                                        </div>
                                    </div>
                                    <div class="invalid-feedback"
                                        *ngIf="!registrationForm.get('contact')?.hasError('required') && registrationForm.get('contact')?.hasError('pattern')">
                                        Please enter a valid Phone Number!
                                    </div>
                                </div>
                                <!-- <div class="col-6">
                                    <label for="yourUsername" class="form-label">Username</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                                        <input type="text" formControlName="userName" name="username"
                                            class="form-control" id="yourUsername" required>
                                        <div class="invalid-feedback">Please choose a username.</div>
                                    </div>
                                </div> -->

                                <div class="col-6">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" formControlName="password" name="password"
                                        placeholder="Password" class="form-control" id="password"
                                        [ngClass]="{ 'is-invalid':registrationFormSubmitted && form['password']?.errors }">
                                    <div class="invalid-feedback" *ngIf="registrationFormSubmitted">
                                        <div *ngIf="registrationForm?.get('password')?.hasError('required')">
                                            Please enter password!
                                        </div>
                                        <div
                                            *ngIf="!registrationForm.get('password')?.hasError('required') && registrationForm.get('password')?.hasError('minlength')">
                                            password must be minimum 6 digit long!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label for="confPassword" class="form-label">Confirm Password</label>
                                    <input type="password" formControlName="confirmPassword" name="confPassword"
                                        class="form-control" id="confPassword" placeholder="Confirm Password"
                                        [ngClass]="{ 'is-invalid':registrationFormSubmitted && form['confirmPassword']?.errors }">
                                    <div class="invalid-feedback" *ngIf="registrationFormSubmitted">
                                        <div *ngIf="registrationForm?.get('confirmPassword')?.hasError('required')">
                                            Please enter password!
                                        </div>
                                    </div>
                                    <div class="invalid-feedback"
                                        *ngIf="!registrationForm.get('confirmPassword')?.hasError('required') && registrationForm.get('confirmPassword')?.hasError('passwordsNotMatching')">
                                        Password and Confirm Password must match.
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" name="terms" type="checkbox" value=""
                                            id="acceptTerms" required>
                                        <label class="form-check-label" for="acceptTerms">I agree and accept the <a
                                                href="#">terms and conditions</a></label>
                                        <div class="invalid-feedback">You must agree before submitting.</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Create Account</button>
                                </div>
                                <div class="col-12">
                                    <p class="small mb-0">Already have an account? <a
                                            [routerLink]="[ '/auth/login' ]">Log in</a></p>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>

</div>