<div class="main-page__menu">
    <div class="top-menu">
        <a class="top-menu__item top-menu__item--slots" href>
            <span class="top-menu__icon icon-slots-big"></span>
            <span class="top-menu__caption">All Slots</span>
        </a>
        <a class="top-menu__item top-menu__item--new" href="#">
            <span class="top-menu__icon icon-new-big"></span>
            <span class="top-menu__caption"><span>New</span>!</span>
        </a>
        <a class="top-menu__item top-menu__item--trending" href="#">
            <span class="top-menu__icon icon-trending-big"></span>
            <span class="top-menu__caption">Popular</span>
        </a>
        <a class="top-menu__item top-menu__item--providers" href="#">
            <span class="top-menu__icon icon-providers-big"></span>
            <span class="top-menu__caption">Providers</span>
        </a>
        <a class="top-menu__item top-menu__item--live-casino" href="#">
            <span class="top-menu__icon icon-live-casino-big"></span>
            <span class="top-menu__caption">Live Casino</span>
        </a>
        <a class="top-menu__item top-menu__item--promo" href="#">
            <span class="top-menu__icon icon-promo-big"></span>
            <span class="top-menu__caption">Promotions</span>
        </a>
        <a class="top-menu__item top-menu__item--megaways" href="#">
            <span class="top-menu__icon icon-megaways-big"></span>
            <span class="top-menu__caption">Megaways</span>
        </a>
        <a class="top-menu__item top-menu__item--bonus" href="#">
            <span class="top-menu__icon icon-bonus-big"></span>
            <span class="top-menu__caption">Bonus Buys</span>
        </a>
        <a class="top-menu__item top-menu__item--jackpots" href="#">
            <span class="top-menu__icon icon-jackpots-big"></span>
            <span class="top-menu__caption"><span>Drops & Wins</span>!</span>
        </a>
    </div>
</div>