<div style="width: 600px">
<mat-toolbar color="primary" class="justify-content-between">
  <span>Upload Images</span>
  <span class="example-spacer"></span>
  <svg class="ic_close " (click)="onClose()" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 40 40">
    <g id="close" transform="translate(-1265 -197)">
      <circle id="Ellipse_1" data-name="Ellipse 1" cx="20" cy="20" r="20" transform="translate(1265 197)" fill="#012970"/>
      <path id="Path_1" data-name="Path 1" d="M8.542,7.016l5.235-5.235a.767.767,0,0,0,0-1.083L13.319.24a.768.768,0,0,0-1.083,0L7,5.474,1.766.24A.767.767,0,0,0,.683.24L.224.7a.766.766,0,0,0,0,1.083L5.459,7.016.224,12.251a.768.768,0,0,0,0,1.083l.459.459a.767.767,0,0,0,1.083,0L7,8.558l5.235,5.235a.76.76,0,0,0,.541.224h0a.76.76,0,0,0,.541-.224l.459-.459a.768.768,0,0,0,0-1.083Z" transform="translate(1278 209.984)" fill="#ffffff"/>
    </g>
</svg></mat-toolbar>

<div class="card mb-0">
  <div class="card-body">
<div class="row">
    <!-- <div class="col-7">
      <label class="btn btn-default p-0 fa fa-cloud-upload mb-3">
        <input type="file" accept="image/*" multiple (change)="selectFiles($event)" />
            </label>
    </div> -->
    <div class="col-md-8">
      <div class="upload-btn-wrapper ">
          <button class="btn btn-primary btn-lg">
              Select Image
          </button>
          <input type="file" #file multiple (change)="selectFiles($event)" name="upload"
              accept="'.csv'" maxFileSize="10000000" />
          <!-- <label class="m-l-20">{{addProductCategoryForm?.value?.fileSource?.fileName}}</label> -->
      </div>
  </div>
    <div class="col-4">
  
    <button
      class="btn btn-purple btn-lg fa-solid fa-arrow-up-to-line"
      [disabled]="!selectedFiles"
      (click)="uploadFiles()"
    >
      <i class="fa-arrow-alt-circle-up fas "></i> Upload
     
    </button>

    </div>
    
    <div class="mb-2 col-12">
      <div class="c-upload-img">
           <button
    class="btn btn-purple btn-sm "
    [disabled]="!selectedFiles"
    (click)="deleteFiles()"
  >
          <i class="fa fa-trash" aria-hidden="true" ></i>
        </button>
        <img *ngFor='let preview of previews' [src]="preview" class="preview shadow m-l-10">

      </div>
    </div>

<div *ngFor="let progressInfo of progressInfos" class="mb-2">
    <div class="progress">
      <div
        class="progress-bar progress-bar-info progress-bar-striped progress"
        role="progressbar"
        attr.aria-valuenow="{{ progressInfo.value }}"
        aria-valuemin="0"
        aria-valuemax="100"
        [ngStyle]="{ width: progressInfo.value + '%' }"
      >
        {{ progressInfo.value }}%
      </div>
    </div>
  </div>

  
</div>
  <!-- <div *ngIf="message.length" class="alert alert-secondary my-3" role="alert">
    <ul *ngFor="let msg of message; let i = index">
      <li>{{ msg }}</li>
    </ul>
  </div> -->
  <!-- </div>
  </div> -->

  </div>