<section class="container-fluid">
    <header class="header">
        <div class="header__left">
            <a class="header__logo" data-ui-sref="app.home">
                <img class="header__logo-img" src="assets/static/images/logo.png" alt="MadMoney">
            </a>
            <div class="header-search">
                <ng-container>
                    <form class="filter__input-box">
                        <span class="filter__input-icon icon-search"></span>
                        <input class="filter__input" type="text"
                            placeholder="Search for Games, Categories or Providers">
                        <button class="filter__clear" type="button">Clear</button>
                        <button class="filter__close icon-close" type="button"></button>
                    </form>
                    <!-- <form class="header-search__input-box">
                        <span class="header-search__input-icon icon-search"></span>
                        <input class="header-search__input" class="wlc-search-form__input" type="text" data-wlc-element="input_search">
                        <button class="header-search__clear" type="button">Clear</button>
                        <button class="header-search__close icon-close" type="button"></button>
                    </form> -->

                    <div class="filter__block">
                        <div class="filter-results">
                            <div>
                                <div class="filter-results__item">
                                    <div class="filter-results__img"></div>
                                    <div class="filter-results__content">
                                        <div class="filter-results__name">game name lang code</div>
                                        <div class="filter-results__provider">game mechant alias</div>
                                    </div>
                                </div>

                                <div class="filter-results__item">
                                    <div class="filter-results__img"></div>
                                    <div class="filter-results__content">
                                        <div class="filter-results__name">game name lang code</div>
                                        <div class="filter-results__provider">game mechant alias</div>
                                    </div>
                                </div>
                            </div>
                            <div class="wlc-game-catalog__info">
                                <span class="wlc-big-text">Sorry</span>
                                <span>We could not find anything</span>
                                <span>There’s nothing in your favorites yet</span>
                            </div>
                        </div>
                    </div>

                </ng-container>
            </div>
        </div>
        <div class="header__right">
            <div class="header-language">
                <div class="header-language__selected">
                    <!-- <span data-ng-include="'/static/js/templates/svg/icons/flags/' + ls.flagIcon() + '.html'" class="header-language__icon"></span> -->
                    <span><img src="assets/static/images/language/english.png" alt=""></span>
                </div>
                <div class="header-language__select">
                    <ul class="header-language__list">
                        <li class="header-language__item" (click)="OnChangeLanguage()">
                            <!--TODO: send language data for on selection in  OnChangeLanguage func-->
                            <a class="header-language__item-link">English</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a class="header__btn header__btn--login btn btn--small btn--transparent"
                *ngIf="isUserAuthnticated === false" (click)="openLoginPopup()">Login</a>
            <a class="header__btn header__btn--register btn btn--small" *ngIf="isUserAuthnticated === false"
                (click)="openRegisterPopup()">Join</a>

            <!-- <a class="header__btn header__btn--login btn btn--small btn--transparent" *ngFor="let bonusdata of userInfoData"
            [value]="bonusdata.balance">
            {{ bonusdata.balance }}</a> -->
            <a class="header__btn header__btn--register btn btn--small">Deposit</a>

            <!-- <button class="header__burger" type="button" wlc-toggle-menu><span class="header__burger-icon icon-menu"></span></button>
            <button class="header__close" type="button" wlc-toggle-menu><span class="header__burger-icon icon-close"></span></button> -->
        </div>
    </header>
</section>