<!-- Title of the page -->
<mat-toolbar color="primary" class="justify-content-between">
  <span> User Permission</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<form (ngSubmit)="onSubmit()" [formGroup]="addUserPermissionForm">
  <div class="card">
    <div class="card-body"><br>
<label><strong>Type</strong></label>

<!-- Type of the user -->
<div class="col-md-6">
  
  <select class="form-select " aria-label=".form-select-lg example" formControlName="role">
    <option selected disabled value="">Role of User</option>
    <option value="Admin">Admin</option>
    <option value="User">User</option>
    <option value="Manager">Manager</option>
  </select><br>
  <div class="invalid-feedback" style="margin-top: -15px;" *ngIf="isFormSubmitted">
    <div *ngIf="addUserPermissionForm?.get('role')?.hasError('required')">
        Role is required!
    </div>
  
</div>
</div><br>

<!-- checkbox  -->
<!-- <div formArrayName="checkArray">
  <label>User Access Permission</label>
  <div>
    <input type="checkbox" name="selectAll" value="selectAll" >Select All
  </div>
  <div *ngFor="let data of Data; let i=index" class="form-group">
    <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event)" />
    {{data.name}}
  </div>
  <div *ngIf="f['checkArray'].errors?.['required']" class="text-danger">
    Checkbox is required, select atleast one value.
  </div>
</div> -->

<label > <strong>User Access Permission</strong></label> <br>
<label class="btn btn-filter">
  <input class="m-r-5" type="checkbox" name="checkboxes"  (change)="toggleCheckboxAll($event)"> Select All
</label>

<div formArrayName="checkArray">
  <div *ngFor="let checkbox of checkboxes">
    <label class="btn btn-filter">
      <input  type="checkbox" class="form-group" class="m-r-5" [value]="checkbox.value"  [checked]="checkbox.selected" (click)="onCheckboxChange($event)" (change)="singleCheckbox($event)">{{ checkbox.label }}
    </label>
  </div>
  <div class="err" *ngIf="isFormSubmitted && checkArray.length==0" style="color: rgb(219, 1, 1);">
    Checkbox is required, select atleast one value.
  </div>
</div>


<!-- Buttons for save or cancel -->
    <div class="float-right">
      
  <button type="button" class="btn btn-light" [routerLink]="['/user-access']" style="margin:5px;">Cancel</button>
  <button type="button" class="btn btn-primary"  (click)="onSubmit()" style="margin:5px;" >Save</button>

</div>

      </div>
      </div>
</form>



