<!-- Title of the page -->
<mat-toolbar color="primary" class="justify-content-between">
  <span> User Permission</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<form [formGroup]="addUserPermissionForm">
  <div class="card">
    <div class="card-body"><br>
<label>Type</label><br>

<!-- Type of the user -->
<div class="col-md-6">
  <select class="form-select " aria-label=".form-select-lg example" formControlName="role">
    <option selected disabled value="">Role of User</option>
    <option value="Admin">Admin</option>
    <option value="User">User</option>
    <option value="Manager">Manager</option>
  </select><br>
</div>

<!-- checkbox  -->
<!-- <div formArrayName="checkArray">
  <label>User Access Permission</label>
  <div>
    <input type="checkbox" name="selectAll" value="selectAll" >Select All
  </div>
  <div *ngFor="let data of Data; let i=index" class="form-group">
    <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event)" />
    {{data.name}}
  </div>
  <div *ngIf="f['checkArray'].errors?.['required']" class="text-danger">
    Checkbox is required, select atleast one value.
  </div>
</div> -->
<label > User Access Permission</label> <br>
<label class="btn btn-filter">
  <input type="checkbox" name="checkboxes"  (change)="toggleCheckboxAll($event)"> Select All
</label>

<div formArrayName="checkArray">
  <div *ngFor="let checkbox of checkboxes">
    <label class="btn btn-filter">
      <input type="checkbox" class="form-group" [value]="checkbox.value"  [checked]="checkbox.selected" (click)="onCheckboxChange($event)" (change)="singleCheckbox($event)">{{ checkbox.label }}
    </label>
  </div>
  <div *ngIf="f['checkArray'].errors?.['required']" class="text-danger">
    Checkbox is required, select atleast one value.
  </div>
</div>


<!-- Buttons for save or cancel -->
    <div class="float-right">
  <button class="btn btn-primary m-r-5" [routerLink]="['/user-access']">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="opensweetalert()" (click)="onSubmit()"  [disabled]="addUserPermissionForm.invalid"  >Save</button>

</div>

      </div>
      </div>
</form>



