<ng-container *ngFor="let slider of gameSlidersList; let index = index">
    <section class="game-slider game-slider--{{slider?.id}}">
        <!--  data-wlc-element="block_games-{{slider?.id}}" -->
        <header class="game-slider__header">
            <div class="game-slider__title-block">
                <span class="game-slider__title-icon icon-{{slider?.id}}"></span>
                <h2 class="game-slider__title">{{ slider?.filter == 'live' ? 'Live Casino' : slider.name}}</h2>
            </div>
            <div class="game-slider__navigation">
                <button class="game-slider__prev-button" data-slider-prev-button><span
                        class="game-slider__prev-button-icon icon-arrow-left"></span></button>
                <button class="game-slider__next-button" data-slider-next-button><span
                        class="game-slider__prev-button-icon icon-arrow-right"></span></button>
                <a class="game-slider__all-btn btn btn--small btn--transparent" href=""
                    href="{{ slider?.filter == 'live' ? 'app?.catalog?.live' : slider?.link}}"
                    data-wlc-element="link_see-all">
                    <span data-translate>View All</span>
                </a>
            </div>
        </header>
        <div class="game-slider__block">
            <div class="prod_grid" style="max-width: 100%;" data-save-filter="false"
                data-wlc-games-search-filtered="true" data-ng-switch="slider.doubleRow">
                <!-- data-wlc-games="{{slider?.filter}}" -->
                <!-- <wlc-sliders-swiper-home data-swiper-params="home" data-double-row="slider?.doubleRow"
                    data-games="games">
                    <wlc-slide data-slider-cls="wlc-game-category_{{slider?.id}}"
                        data-ng-repeat="game in games | limitTo : slider.limit track by $index">
                        <wlc-module data-wlc-module-path="/static/js/templates/modules/game-thumb-slider.html"></wlc-module>   
                    </wlc-slide> commented by G
                </wlc-sliders-swiper-home> -->
            </div>
        </div>
    </section>
</ng-container>