.preview {
    max-width: 180px;
  }
  .progress{
      width: 180px;
  }

  .btn-purple {
    background-color: #012970;
    border-color: #012970;
    color: #fff;
  }
  .example-card {
    max-width: 400px;
  }
  .mat-card-xl-image{
    /*width: 200px;
    height: 200px;*/
    border-radius: 8px;
  }
  .button a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
  }
  .container {
    position: relative;
    margin-top: 50px;
    width: 500px;
    height: 300px;
  }
  .container:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
  }
  .container:hover .title {
    top: 90px;
  }
  .container:hover .button {
    opacity: 1;
  }    
  