

<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>supervised_user_circle_icon</mat-icon>
  </button>
  <span>New User Access</span>
  <span class="example-spacer"></span>
  <!-- <button mat-raised-button color="primary">Cancel</button> -->

  <button  mat-raised-button color="white" (click)="addNew()"  >Add</button>
</mat-toolbar>
<br>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">User Access</h5>
    <div class="card-text">
      <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Role</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Admin</td>
                <td>
                  <button class="btn">
                    <i class='fa fa-key'></i>
                </button>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>User</td>
                <td>
                  <button class="btn">
                    <i class='fa fa-key'></i>
                </button>
                </td>
            </tr>

        </tbody>
    </table>
    </div>
  </div>
</div>
