
<!-- Title of the page -->
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>supervised_user_circle_icon</mat-icon>
  </button>
  <span> User Access</span>
  <span class="example-spacer"></span>
  <button  mat-raised-button color="white" (click)="addNew()"  ><i class="fas fa-plus m-r-5"></i>Add</button>
</mat-toolbar>

<!-- Table for Users -->
<div class="card">
  <div class="card-body">
    <div class="card-text">
      <table id="basic-datatable" class="table datatables custom-table nowrap">
        <thead>
            <tr>
                <th sortable="name.first" >
                    #
                </th>
                <th sortable="role" >
                    Role
                </th>
                <th class="nosort action-th" width="190">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let permissionList of permission; let i = index">
            {{permissionList | json}}
              <th scope="row">{{i+1}}</th>
              <td>{{i}}</td>
              <td>
                <button class="btn">
                  <i class='fa fa-key'></i>
              </button>
              </td>
          </tr>
          <tr>
              <th scope="row">1</th>
              <td>User</td>
              <td>
                <button class="btn">
                  <i class='fa fa-key'></i>
              </button>
              </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Admin</td>
            <td>
              <button class="btn">
                <i class='fa fa-key'></i>
            </button>
            </td>

        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Manager</td>
          <td>
            <button class="btn">
              <i class='fa fa-key'></i>
          </button>
          </td>

      </tr>
      </tbody>

      </table>


    </div>
  </div>
</div>
