<div class="aside" data-ng-controller="MainMenuController as menu">
    <div class="aside__top">
        <div class="aside__header">
            <a class="aside__logo" data-ui-sref="app.home">
                <img class="aside__logo-img" src="assets/static/images/logo.png" alt="MadMoney">
            </a>
        </div>
        <!-- <div class="aside-mobile-top">
            <div class="aside-mobile-top__buttons">
                <button class="aside-mobile-top__btn aside-mobile-top__btn--login btn btn--transparent" wlc-close-menu data-translate>Login
                    </button>
                <button class="aside-mobile-top__btn aside-mobile-top__btn--register btn" wlc-close-menu data-translate>Join
                    </button>
                <div class="aside-account-btn" data-ng-if="user.isAuthenticated()">
                    <div class="aside-account-btn__icon icon-profile"></div>
                    <div class="aside-account-btn__content">
                        <div class="aside-account-btn__caption">My Account</div>
                        <div class="aside-account-btn__value">
                            <span data-ng-if="user.userProfile.currency != 'RUB'"></span>
                            <span></span>
                            <span data-ng-if="user.userProfile.currency == 'RUB'"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div> -->
        <nav class="aside__menu">
            <button class="aside__burger" wlc-toggle-menu (click)="onclickNavOpen(flag)">
                    <span [ngClass]="flag ? 'icon-menu' : 'icon-back'"></span>
                </button>
            <ul class="aside__menu-list">
                <li class="aside__menu-item" data-ng-class="{'aside__menu-item--active': app.checkState('app.home')}">
                    <a class="aside__menu-link" data-ui-sref="app.home">
                        <span class="aside__menu-icon icon-home"></span> Home
                    </a>
                </li>
                <li class="aside__menu-item" data-ng-class="{'aside__menu-item--active': app.checkState('app.catalog.casino({category: 'slots'})')}">
                    <a class="aside__menu-link" data-ui-sref="app.catalog.casino({category: 'slots'})">
                        <span class="aside__menu-icon icon-slots"></span> Slots
                    </a>
                </li>
                <li class="aside__menu-item" data-ng-class="{'aside__menu-item--active': app.checkState('app.catalog.casino({})')}">
                    <a class="aside__menu-link" data-ui-sref="app.catalog.casino({})">
                        <span class="aside__menu-icon icon-live-casino"></span>Casino
                    </a>
                </li>
                <li class="aside__menu-item" data-ng-class="{'aside__menu-item--active': app.checkState('app.catalog.casino({category: 'jackpots'})')}">
                    <a class="aside__menu-link" data-ui-sref="app.catalog.casino({category: 'jackpots'})">
                        <span class="aside__menu-icon icon-jackpots"></span>Jackpots
                    </a>
                </li>
                <li class="aside__menu-item" data-ng-class="{'aside__menu-item--active': app.checkState('app.pages({rootCategory: 'promotions'})')}">
                    <a class="aside__menu-link" data-ui-sref="app.pages({rootCategory: 'promotions'})">
                        <span class="aside__menu-icon icon-promo"></span>Promotions
                    </a>
                </li>
                <li class="aside__menu-item" data-ng-class="{'aside__menu-item--active': app.checkState('app.profile.loyalty-store.main({})')}">
                    <a class="aside__menu-link" data-ui-sref="app.profile.loyalty-store.main({})">
                        <span class="aside__menu-icon icon-store"></span>Store
                    </a>
                </li>
            </ul>
            <ul class="aside__menu-list">
                <li class="aside__menu-item">
                    <a class="aside__menu-link aside__menu-link--splitscreen" data-ng-class="{'aside__menu-link--active': vm.isSplitscreen}" data-ng-click="vm.toggleSplitscreen()">
                        <span class="aside__menu-icon icon-splitscreen"></span>Splitscreen
                    </a>
                </li>
            </ul>
        </nav>
        <!-- <div class="aside-language">
            <div class="aside-language__title">Change Language</div>
            <div class="aside-language__select"><img class="aside-language__icon" src="/static/images/language/english.png" alt="">English US
                <div class="aside-language__arrow icon-arrow-right"></div>
            </div>
        </div>
        <div class="aside-language" data-ng-controller="LanguageSelector as ls" data-ng-show="ls.getSupportedLanguages().length > 1" data-wlc-css-style="wlc-language-selector" data-wlc-element="block_language-selector">
            <div class="aside-language__title">Change Language</div>
            <div class="aside-language__selected" data-ng-click="menu.showLang()"><span class="aside-language__icon" data-ng-include="'/static/js/templates/svg/icons/flags/' + ls.flagIcon() + '.html'" class="header-language__icon"></span>
                <span class="aside-language-label"> English US </span>
                <div class="aside-language__arrow icon-arrow-right"></div>
            </div>
            <div class="aside-language__select" data-ng-if="menu.languageSelect">
                <ul class="aside-language__list">
                    <li class="aside-language__item">
                        <a class="aside-language__item-link"></a>
                    </li>
                </ul>
            </div>
        </div> -->
    </div>
</div>
<section class="container-fluid" data-wlc-element="section_header">
    <header class="header" data-wlc-track-height>
        <div class="header__left">
            <a class="header__logo" data-ui-sref="app.home">
                <img class="header__logo-img" src="/static/images/logo.png" alt="MadMoney">
            </a>
            <div class="header-search">
                <!-- <wlc-module data-wlc-module-path="/static/js/templates/modules/search.html"></wlc-module> -->

                <!--<div class="recent-search">
                <h1 wlc-toggle-menu class="recent-search-title">Recent search</h1>
                <div class="recent-search__games-wrap games-wrap">
                  <div class="search__game" data-ng-style="{'background-image': 'url('+game.Image+')'}"></div>
                  <div class="search__game"></div>
                  <div class="search__game"></div>
                  <div class="search__game"></div>
                </div>
              </div>

              <div class="more-pragmatic">
                <h1 wlc-toggle-menu class="more-pragmatic-title">More Pragmatic Play</h1>
                <div class="recent-search__games-wrap games-wrap">
                  <div class="search__game"></div>
                  <div class="search__game"></div>
                  <div class="search__game"></div>
                  <div class="search__game"></div>
                </div>
              </div>-->
            </div>
        </div>
        <div class="header__right">
            <!-- <wlc-module data-wlc-module-path="/static/js/templates/modules/language-selector.html"></wlc-module>
            <wlc-module data-name="header-right"></wlc-module> -->
            <button class="header__burger" type="button" wlc-toggle-menu><span class="header__burger-icon icon-menu"></span></button>
            <button class="header__close" type="button" wlc-toggle-menu><span class="header__burger-icon icon-close"></span></button>
        </div>
    </header>
</section>