<div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    <div class="d-flex justify-content-center py-4">
                        <!-- <a href="index.html" class="logo d-flex align-items-center w-auto">
                            <img src="assets/img/logo.png" alt="">
                            <span class="d-none d-lg-block">NiceAdmin</span>
                        </a> -->
                    </div><!-- End Logo -->

                    <div class="card mb-3">

                        <div class="card-body" *ngIf="!emailverifySuccess">

                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Recover your password</h5>
                            </div>

                            <form class="row g-3 needs-validation" name="emailForm" [formGroup]="emailForm"
                                (ngSubmit)="submitEmailForPasswordRecovery()" novalidate>
                                <div class="col-12">
                                    <label for="email" class="form-label">Email</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text" id="inputGroupPrepend"><i
                                                class="fas fa-at"></i></span>
                                        <input type="text" name="email" #email formControlName="email"
                                            class="form-control" id="email" placeholder="Email"
                                            [ngClass]="{ 'is-invalid':emailFormSubmitted && emailform['email']?.errors }">
                                        <div class="invalid-feedback" *ngIf="emailFormSubmitted">
                                            <div *ngIf="emailForm?.get('email')?.hasError('required')">
                                                Email is required!
                                            </div>
                                            <div
                                                *ngIf="!emailForm.get('username').hasError('required') && emailForm.get('username').hasError('pattern')">
                                                Please enter a valid email!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Submit</button>
                                </div>
                                <div class="col-12">
                                    <p class="small mb-0">Back to <a [routerLink]="[ '/auth/login' ]">Login</a></p>
                                </div>
                            </form>

                        </div>

                        <div class="card-body" *ngIf="emailverifySuccess">

                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Reset your password</h5>
                            </div>

                            <form class="row g-3 needs-validation" name="otpForm" [formGroup]="otpForm"
                                (ngSubmit)="resetPasswordWithOTP()" novalidate>
                                <div class="col-12">
                                    <label for="OTP" class="form-label">OTP</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text" id="inputGroupPrepend"><i
                                                class="fas fa-at"></i></span>
                                        <input type="text" formControlName="otp" name="name" class="form-control"
                                            id="OTP" placeholder="OTP"
                                            [ngClass]="{ 'is-invalid':otpFormSubmitted && otpform['otp']?.errors }">
                                        <div class="invalid-feedback" *ngIf="otpFormSubmitted">
                                            <div *ngIf="otpForm?.get('otp')?.hasError('required')">
                                                Please enter OTP!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="password" class="form-label">Password</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text" id="inputGroupPrepend"><i
                                                class="fas fa-eye"></i></span>
                                        <input type="password" formControlName="password" name="password"
                                            class="form-control" id="password" placeholder="Password"
                                            [ngClass]="{ 'is-invalid':otpFormSubmitted && otpform['password']?.errors }">
                                        <div class="invalid-feedback" *ngIf="otpFormSubmitted">
                                            <div *ngIf="otpForm?.get('password')?.hasError('required')">
                                                Please enter password!
                                            </div>
                                            <div
                                                *ngIf="!otpForm.get('password').hasError('required') && otpForm.get('password').hasError('minlength')">
                                                password must be minimum 6 digit long!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="confPassword" class="form-label">Confirm Password</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text" id="inputGroupPrepend"><i
                                                class="fas fa-eye"></i></span>
                                        <input type="password" formControlName="confirmPassword" name="confPassword"
                                            class="form-control" id="confPassword" placeholder="Confirm Password"
                                            [ngClass]="{ 'is-invalid':otpFormSubmitted && otpform['confirmPassword']?.errors }">
                                        <div class="invalid-feedback" *ngIf="otpFormSubmitted">
                                            <div *ngIf="otpForm?.get('confirmPassword')?.hasError('required')">
                                                Please enter password!
                                            </div>
                                        </div>
                                        <div class="invalid-feedback"
                                            *ngIf="!otpForm.get('confirmPassword').hasError('required') && otpForm.get('confirmPassword').hasError('passwordsNotMatching')">
                                            Password and Confirm Password must match.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Submit</button>
                                </div>
                                <div class="col-12">
                                    <p class="small mb-0">Back to <a [routerLink]="[ '/auth/login' ]">Login</a></p>
                                </div>
                            </form>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </section>

</div>