<section class="container-fluid wlc-footer">
    <footer class="footer">
        <!-- <wlc-module data-name="footer-middle-top"></wlc-module>
          <wlc-module data-name="footer-top"></wlc-module>
          <wlc-module data-name="footer-middle-bottom"></wlc-module>
          <wlc-module data-name="footer-bottom"></wlc-module> -->
        <div class="footer__top" data-wlc-element="block_footer-info">
            <div class="footer__logo-block">
                <a class="footer__logo" href="/">
                    <img class="footer__logo-img" src="assets/static/images/logo.png">
                </a>
                <ul class="social-icons flex">
                    <li class="social-icon flex">
                        <a class="social-icon-link" href="#" target="_blank"></a>
                        <img src="assets/static/images/social/discord.png" alt="">
                    </li>
                    <li class="social-icon flex">
                        <a class="social-icon-link" href="#" target="_blank"></a>
                        <img src="assets/static/images/social/telegram.png" alt="">
                    </li>
                    <li class="social-icon flex">
                        <a class="social-icon-link" href="#" target="_blank"></a>
                        <img src="assets/static/images/social/twitter.png" alt="">
                    </li>
                    <li class="social-icon flex">
                        <a class="social-icon-link" href="#" target="_blank"></a>
                        <img src="assets/static/images/social/facebook.png" alt="">
                    </li>
                    <li class="social-icon flex">
                        <a class="social-icon-link" href="#" target="_blank"></a>
                        <img src="assets/static/images/social/instagram.png" alt="">
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <h3 class="footer__column-title">Quick Links</h3>
                <ul class="footer-menu">
                    <li class="footer-menu__item">
                        <a class="footer-menu__item-link" href="#">
                            Home
                        </a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__item-link" href="#">
                            Slots
                        </a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__item-link" href="#">
                            Live Casino
                        </a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__item-link" href="#">
                            Jackpots
                        </a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__item-link" href="#">
                            Promotions
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <h3 class="footer__column-title">Info</h3>
                <ul class="footer-menu">
                    <li class="footer-menu__item footer-menu__item--game-rules">
                        <a href="#" class="footer-menu__item-link">Games rules</a>
                    </li>
                    <li class="footer-menu__item footer-menu__item--responsible">
                        <a href="#" class="footer-menu__item-link">Responsible Gaming</a>
                    </li>
                    <li class="footer-menu__item footer-menu__item--fairplay">
                        <a href="#" class="footer-menu__item-link">Fair Play</a>
                    </li>
                    <li class="footer-menu__item footer-menu__item--terms">
                        <a href="#" class="footer-menu__item-link">Terms and Conditions</a>
                    </li>
                    <li class="footer-menu__item footer-menu__item--privacy">
                        <a href="#" class="footer-menu__item-link">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <h3 class="footer__column-title">Quick Links</h3>
                <ul class="footer-menu">
                    <li class="footer-menu__item footer-menu__item--contactus">
                        <a href="#" class="footer-menu__item-link">Contact Us</a>
                    </li>
                    <li class="footer-menu__item footer-menu__item--affiliates">
                        <a href="#" class="footer-menu__item-link">Affiliate Program</a>
                    </li>
                    <li class="footer-menu__item footer-menu__item--payments">
                        <a href="#" class="footer-menu__item-link">Payments Page</a>
                    </li>
                    <li class="footer-menu__item footer-menu__item--payments">
                        <a href="#" class="footer-menu__item-link">FAQ</a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <h3 class="footer__column-title">Language</h3>
                <div class="footer-language">
                    <div class="header-language">
                        <div class="header-language__selected">
                            <span><img src="assets/static/images/language/english.png" alt=""></span>
                        </div>
                        <div class="header-language__select">
                            <ul class="header-language__list">
                                <li class="header-language__item">
                                    <a class="header-language__item-link">English</a>
                                </li>
                                <li class="header-language__item">
                                    <a class="header-language__item-link">Norsk</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-partners footer-partners--first" data-wlc-element="block_payments">
            <div class="footer-partners__block" auto-scroll>
                <div class="wlc-svg-block">
                    <img src="assets/static/images/footer/mastercard@2x.png" alt="">
                </div>
                <div class="wlc-svg-block">
                    <img src="assets/static/images/footer/mastercard@2x.png" alt="">
                </div>
                <div class="wlc-svg-block">
                    <img src="assets/static/images/footer/mastercard@2x.png" alt="">
                </div>
                <div class="wlc-svg-block">
                    <img src="assets/static/images/footer/mastercard@2x.png" alt="">
                </div>
                <div class="wlc-svg-block">
                    <img src="assets/static/images/footer/mastercard@2x.png" alt="">
                </div>
                <div class="wlc-svg-block">
                    <img src="assets/static/images/footer/mastercard@2x.png" alt="">
                </div>
            </div>
        </div>
        <div class="footer-partners">
            <div class="footer-partners__block" auto-scroll>
                <div class="wlc-svg-block">
                    <img src="assets/static/images/footer/mastercard@2x.png" alt="">
                </div>
                <div class="wlc-svg-block">
                    <img src="assets/static/images/footer/mastercard@2x.png" alt="">
                </div>
                <div class="wlc-svg-block">
                    <img src="assets/static/images/footer/mastercard@2x.png" alt="">
                </div>
                <div class="wlc-svg-block">
                    <img src="assets/static/images/footer/mastercard@2x.png" alt="">
                </div>
                <div class="wlc-svg-block">
                    <img src="assets/static/images/footer/mastercard@2x.png" alt="">
                </div>
                <div class="wlc-svg-block">
                    <img src="assets/static/images/footer/mastercard@2x.png" alt="">
                </div>
                <div class="wlc-svg-block">
                    <img src="assets/static/images/footer/mastercard@2x.png" alt="">
                </div>
                <div class="wlc-svg-block">
                    <img src="assets/static/images/footer/mastercard@2x.png" alt="">
                </div>
                <div class="wlc-svg-block">
                    <img src="assets/static/images/footer/mastercard@2x.png" alt="">
                </div>
                <div class="wlc-svg-block">
                    <img src="assets/static/images/footer/mastercard@2x.png" alt="">
                </div>

            </div>
            <!-- <div class="wlc-wrp_dropdown">
                  <wlc-module data-ng-repeat="icon in iconsList" data-wlc-module-path="/static/js/templates/svg/merchants/{{icon}}.html"></wlc-module>
                  <button class="dropdown__button" type="button" data-ng-click="dropdown()">
            <wlc-module data-wlc-module-path="/static/js/templates/svg/icons/icon-plus.html"></wlc-module>
          </button>
              </div> -->
            <!-- <div class="wlc-wrp_swiper" data-wlc-element="block_merchants">
                  <div class="top-slider swiper-container {{containerCls}}">
                      <div class="top-slider__wrapper swiper-wrapper {{wrapperCls}}"></div>
                      <div class="top-slider__pagination swiper-pagination {{paginationCls}}" data-ng-show="!onlyOne"></div>
                  </div>
              </div> -->
        </div>
        <p class="footer__disclaimer" data-wlc-element="block_disclaimer-text">
            MadMoneyCasino.com is operated by SG International N.V., which is registered in Heelsumstraat 51 E-Commerce
            Park,
            Curacao, registration No. 137028 and having a gaming licence No.8048/JAZZ2015-035 and all rights to operate
            the
            gaming software. SG International
            LP, with its registered address Suite 1 4 Queen Street, Edinburgh, United Kingdom, EH2 1JE, registration No.
            SL023302, is providing payment services as an agent according to the licence agreement concluded between SG
            International LP and SG
            International N.V.
        </p>
        <p class="footer__copyright">
            © <span data-wlc-element="block_sitename">MadMoney casino</span>.
            <span data-translate>All rights reserved.</span>
        </p>
        <div class="footer__bottom" data-wlc-element="block_licence">
            <div class="footer__bottom-left">
                <div class="footer__adb">
                    <div id="apg-seal-container">
                        <a href="#"><img class="footer__18-image" src="assets/static/images/footer/18.png" alt="18"></a>
                    </div>
                </div>
                <div class="footer__18"><img class="footer__18-image" src="assets/static/images/footer/18.png" alt="18">
                </div>
            </div>
            <div class="footer__bottom-right">
                <p class="footer__designed">Designed by <a href="#">Coax Creative</a></p>
                <p class="footer__designed"><span data-translate>Developed by </span> <a
                        href="https://www.softgamings.com/" data-wlc-element="link_softgamings"
                        target="_blank">Softgamings</a></p>
            </div>
        </div>
    </footer>
</section>